@mixin triangle($direction,$size:50px,$color:black){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: $size;
	border-color: transparent;
	border-#{$direction}-width: 0;
	@if $direction==top{
		border-bottom-width: $size*1.5;
		border-bottom-color: $color;
	}@else if $direction==bottom{
		border-top-width: $size*1.5;
		border-top-color: $color;
	}@else if $direction==right{
		border-left-width: $size*1.5;
		border-left-color: $color;
	}@else{
		border-right-width: $size*1.5;
		border-right-color: $color;
	}
}

.box{
	@include triangle(top, $color:green);
}
.box2{
	@include triangle(right,$color:red);
}
.box3{
	@include triangle(bottom,$color:orange);
}
.box4{
	@include triangle(left);
}